<h2><%= l(:issues_reminder) %></h2>
<div class="splitcontentleft">
  <table class="list members">
    <thead>
      <tr>
        <th><%= l(:query) %></th>
        <th><%= l(:roles) %></th>
        <th><%= l(:interval) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @reminders.each do |reminder| %>
        <tr>
            <td><%= link_to(h(reminder.query.name), :controller => 'queries', :action => 'edit', :id => reminder.query) %></td>
            <td><%= reminder.roles.collect {|r| r.name}.join(',') %></td>
            <td><%= IssueReminder.interval_value_display(reminder.interval,reminder.interval_value) %></td>
            <td class="buttons">
                <%= link_to_function l(:button_edit), "$('#reminder-#{reminder.id}-edit').show()", :class => 'icon icon-edit' %>
                <%= link_to l(:button_delete),
                    {:controller => 'issue_reminders', :action => :destroy, :id => reminder},
                    {:confirm => l(:reminder_delete_confirmation), :method => :delete, :remote => true,
                     :title => l(:button_delete), :class => 'icon icon-del'} %>
            </td>
        </tr>
        <tr id="reminder-<%= reminder.id %>-edit" style="display:none">
            <td>&nbsp;</td>
            <td class="description" colspan="2">
                <%= render :partial => 'form', :locals => { :reminder => reminder, :project => @project, :action => :update } %>
            </td>
            <td>&nbsp;</td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="splitcontentright">
  <fieldset>
    <legend><%= l(:new_reminder) %></legend>
    <%= render :partial => 'form', :locals => { :reminder => @reminder, :project => @project } %>
  </fieldset>
</div>
