<%= form_for(:reminder, :url => {:action => (reminder.new_record? ? :create : :update), :id => reminder}, :remote => true, :method => (reminder.new_record? ? :post : :put) ) do |f| %>
  <%= f.hidden_field :project_id, { :value => project.id } %>
  <p>
    <%= f.label l(:query) %>
    <%= f.select :query_id, queries_for_options(project.id) %>
  </p>
  <p>
    <%= f.label l(:interval) %>:
    <%= f.select :interval, reminders_intervals_for_options,:data => {:remote => true, :url  => {:action => "update_interval_values"},
              :with => "'interval='+value +'&mail_reminder_id=#{reminder.new_record? ? 'new' : reminder.id}'"}
    %>
  </p>
    <%= render :partial => 'interval_values',
               :locals => { :possible_values => MailReminder.interval_values_for(reminder.new_record? ? :daily : reminder.interval),
                            :selected_value => reminder.interval_value,
                            :reminder => reminder } %>
    <p>
      <%= f.label l(:roles) %>:<br />
      <p>
      <% Role.find_all_givable.each do |role| %>
        <%= check_box_tag(role.name.downcase, role.id, reminder.roles.include?(role)) %>
        <%= label_tag(role.name.downcase, role.name) %><br />
      <% end %>
      </p>
    </p>
    <%= f.submit reminder.new_record? ? l(:add) : l(:save) %>

    <% unless reminder.new_record? %>
      <%= link_to_function l(:button_cancel), "$('reminder-#{reminder.id}-edit').hide(); return false;" %></p>
    <% end %>
<% end %>
