<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<%= stylesheet_link_tag '/stylesheets/application' %>
<%= stylesheet_link_tag 'application', :media => 'all' %>
</head>
<body>
<% @queries_data.each do |project, query| %>
    <% query.project = project %> 
    <% if query.issues(:include => [:assigned_to, :tracker, :priority]).first.nil? %>
        <% next %>
    <% end %>
    <h1><%= "#{project.name}: #{query.name}" %></h1>
    <table class="list issues">
        <thead>
            <tr>
                <% query.columns.each do |col| %>
                    <th><%= col.caption %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
        <% query.issues(:include => [:assigned_to, :tracker, :priority]).each do |issue| %>
            <tr id="issue-<%= issue.id %>" class="<%= cycle('odd', 'even') %> <%= issue.css_classes %>">
                <%= raw query.columns.map {
                    |column| "<td class=\"#{column.css_classes}\">#{content_for_column(column, issue)}</td>"
                }.join %>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>
</body>
</html>
