<!DOCTYPE html>
<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
<%= stylesheet_link_tag '/stylesheets/application' %>
<%= stylesheet_link_tag 'application', :media => 'all' %>
</head>
<body>
<% @queries_data.each do |data| %>
    <% data[1].project = data[0] %>
    <h1><%= "#{data[0].name}: #{data[1].name}"%></h1>
    <table class="list issues">
        <thead>
            <tr>
                <% data[1].columns.each do |col| %>
                    <th title="<%= col.caption %>"><%= col.caption %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
        <% data[1].issues(:include => [:assigned_to, :tracker, :priority]).each do |issue, level| -%>
            <tr id="issue-<%= issue.id %>" class="<%= cycle('odd', 'even') %> <%= issue.css_classes %>">
                <%= raw data[1].columns.map {|column| "<td class=\"#{column.css_classes}\">#{content_for_column(column, issue)}</td>"}.join %>
            </tr>
        <% end -%>
        </tbody>
    </table>
<% end %>
</body>
</html>
